img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  text-align: center;
  margin: 10px;
  background-color: lightblue;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.button-container {
  position: relative;
  bottom: 0px;

  margin-top: 20px;
  display: flex;
  justify-content: center;
}
